<!DOCTYPE html>
<html lang="{{ site.language }}" class="{{ darkModeClass }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="google-site-verification" content="wCT_aUtmFjTf3QKlwfOH-ZwkG4Q6lqKtsKJCubu7i1Q" />

    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <title>{{ title or site.title }}</title>

    <link rel="alternate" type="application/atom+xml" title="Rafa's blog" href="/feed.xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href={{ "/css/css.css" | url }}>
    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <link rel="canonical" href="{{ site.url | url }}{{ page.url }}">
</head>
<body>
    <button id="darkModeToggle" style="position: fixed; top: 1rem; right: 1rem;">🌓</button>
    {% include "nav.njk" %}
    <main>
        {{ content | safe }}
    </main>
    <script>
        const toggleBtn = document.getElementById('darkModeToggle');
        const html = document.documentElement;

        // On load, apply stored preference
        if (localStorage.getItem('dark-mode') === 'true') {
            html.classList.add('dark');
        }

        toggleBtn.addEventListener('click', () => {
            html.classList.toggle('dark');
            localStorage.setItem('dark-mode', html.classList.contains('dark'));
        });
    </script>
</body>
</html>
