<ul>
    {% for entry in entries %}
        {% if entry.post_list %}
            {% set posts = collections[entry.post_list] %}
            {% if posts %}
                {% for post in posts | reverse %}
                    <li class="post-list-item">
                        <time datetime="{{ post.date }}" class="post-date">{{ post.date | formatDate }}</time>
                        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>