---
---

@import "plain";

img[alt=page-image-square] {
  display:block;
  margin:10px auto 10px auto;
  width: 200px;
}

img[src*='#center'] { 
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}

table {
  td {
    padding: 15px;
  }
}

main .about h2 {
  font-weight: bold;
}

.about {
  img {
      border-radius: 50%;
      margin-top: 40px;
  }
  .menu {
    padding:0px;
    list-style: none;
    li {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 8px;
    }
    a {
      font-size: 22px;
      margin-top: 17px;
      color: #aaa;
      text-decoration: none;
    }
    a:hover {
      font-weight: 700;
      color:#64666b;   
    }
  }
}