---
---

@import "plain";

img[alt=page-image-square] {
  display:block;
  margin:10px auto 10px auto;
  width: 200px;
}

.about {
  h2 {
    font-weight: bold;
  }

  img {
      border-radius: 50%;
  }
  .menu {
    padding:0px;
    list-style: none;
    li {
      text-align: center;
      padding-top: 7px;
      padding-bottom: 8px;
    }
    a {
      font-size: 22px;
      margin-top: 17px;
      color: #aaa;
      text-decoration: none;
    }
    a:hover {
      font-weight: 700;
      color:#64666b;   
    }
  }
}